html {
  &.thailand-pdpa-show-setting {
    overflow: hidden;
  }
}

.thailand-pdpa {

  &-wrapper {
    font-size: 1rem;
  }

  &-button {
    padding: 0.625rem 1rem !important;
    border:  none !important;
    line-height: 1;
    font-size: 1rem !important;
    color: #fff !important;
    background: var(--tpdpa-primary) !important;

    &:hover {
      opacity: 0.8;
    }

    &.secondary {
      background: var(--tpdpa-secondary) !important;
    }
  }

  input[type=color] {
    border: none !important;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    height: 26px;
    background: transparent;
  }
}

input[type=radio] {
  border-color: var(--tpdpa-primary) !important;

  &:checked {
    border-color: var(--tpdpa-primary) !important;
  }
  &:after {
    background: var(--tpdpa-primary) !important;
  }
}
